<div class="col-md-6">
	<div style="background-color: {{color}}">
		<a href="#" class="client-banner">
			<div class="client-banner-logo">
				<div class="wrap">
					<img src="{{assets}}images/{{image}}-black.svg" class="black">
					<img src="{{assets}}images/{{image}}-white.svg" class="white">
				</div>
			</div>
			<div class="client-banner-words">
				<div class="wrap"><div><div>80 000 words</div></div></div>
			</div>
		</a>
	</div>
</div>