<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name=viewport content="width=device-width, height=device-height, initial-scale=1">
	<title>
		{{default title page.basename}}
	</title>
	<link href="{{assets}}styles/styles.css" rel="stylesheet"/>
</head>
<body>
	<div class="size-indicator"></div>
	<nav class="navbar navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a href="javascript: return false;" aria-controls="navbar"
				   		aria-expanded="false" data-target="#navbar"
						data-toggle="collapse" class="navbar-button navbar-button-toggle">
					<span class="sr-only">Toggle navigation</span>
					<img src="{{assets}}images/menu.svg">
				</a>
				<a href="#" class="navbar-button navbar-button-lang">
					<img src="{{assets}}images/lang-en.svg">
				</a>
				<a href="#" class="navbar-button navbar-button-logo">
					<img src="{{assets}}images/logo.svg">
				</a>
			</div>
			<div class="collapse" id="navbar">
				<ul class="mynavbar">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</div>
			<!--/.navbar-collapse -->
		</div>
	</nav>
	{{> body }}

	<footer>

		<div class="jumbotron jumbotron-inverse footer">
			<div class="container">
				<h2>Any questions?</h2>

				<div class="row">
					<div class="col-md-6">
						<form class="contact-form">
							<div class="form-group">
								<input type="email" class="form-control" placeholder="Your email">
							</div>
							<div class="form-group">
								<textarea class="form-control" placeholder="Come on, tell me..."
										  rows="8"></textarea>
							</div>
							<button type="submit" class="btn btn-default">send</button>
						</form>
					</div>

					<div class="col-md-6">
						<div class="footer-cellphone">+420 774 627 626</div>
						<ul class="list-inline text-center">
							<li><a href="#"> <img src="{{assets}}images/icon-pintrest.svg"> </a>
							</li>
							<li><a href="#"> <img src="{{assets}}images/icon-instagram.svg"> </a>
							</li>
							<li><a href="#"> <img src="{{assets}}images/icon-linkedin.svg"> </a>
							</li>
							<li><a href="#"> <img src="{{assets}}images/icon-twitter.svg"> </a></li>
						</ul>
						<a href="mailto:matous@" class="footer-email">info@seewordpower.cz</a>

						<div class="footer-separator with-horizontal-separator"></div>

						<p class="footer-info">
							IČ: 88917843 <br>
							Živnostenský list je vedený na Městském úřadě v Nymburce <br>
							Bankovní spojení: 2600292798/2010 (neplátce daně)
						</p>

					</div>
				</div>
			</div>
		</div>

		<div class="footer-copyright">
			All rights reserved. Copyright 2015
			<a href="http://www.seewordpower.cz">www.seewordpower.cz</a>
		</div>
	</footer>


	<script src="{{assets}}scripts/scripts.js"></script>
</body>
</html>