---
title: See Word Power 3
---

<div class="jumbotron jumbotron-matty greedy-jumbotron no-margin">
	<div class="container">
		<div class="row">
			<div class="col-md-6 greedy-jumbotron-column matty-image-column">
				<div class="matty-image">
					<div class="matty-image-blink-left"></div>
					<div class="matty-image-blink-right"></div>
					<div class="matty-image-holder">
						<div class="matty-image-face"></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 greedy-jumbotron-column">
				<div class="matty-heading">
					<div class="with-separator">
						Your<br>
						Future<br>
						Copywriter
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="jumbotron jumbotron-black">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-center">Don't look here for the final result</h2>
				<p class="lead">
					This is my third online portfolio. It took me 3 years to get to this stage.
					During this time I almost finished I studies in college, went to England to
					study for real, cooked a lot of meals, met a lot of people, became freelance and
					worked for two agencies, wrote over 100 000 words, worked on 25+ projects...
					Heck, I even went on a Eurotrip and visited 27 cities in 22 days. By train. And
					much more.
				</p>
				<p class="lead">
					Long story short all had a big impact on my work. I cannot show you what I
					became. My life and my work as a copywriter teaches me everyday. It changes me.
					It develops my skills. What I can show you, are some pieces of the journey of
					how I got here.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<h2 class="text-center">My clients rock. See for yourself</h2>

	<div class="row">
		<div class="col-md-6">
			<a href="#" class="client-banner" data-active-color="#de342e">
				<div class="client-banner-logo">
					<img src="{{assets}}images/dpd-black.svg" data-active-src="{{assets}}images/dpd-white.svg">
				</div>
				<div class="client-banner-words">123 000 words</div>
			</a>
		</div>

		<div class="col-md-6">
			<a href="#" class="client-banner" data-active-color="#2b2664">
				<div class="client-banner-logo">
					<img src="{{assets}}images/febio-black.svg"
						 data-active-src="{{assets}}images/febio-white.svg">
				</div>
				<div class="client-banner-words">123 000 words</div>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<a href="#" class="client-banner" data-active-color="#ea6233">
				<div class="client-banner-logo">
					<img src="{{assets}}images/deimos-black.svg"
						 data-active-src="{{assets}}images/deimos-white.svg">
				</div>
				<div class="client-banner-words">123 000 words</div>
			</a>
		</div>

		<div class="col-md-6">
			<a href="#" class="client-banner" data-active-color="#ff0000">
				<div class="client-banner-logo">
					<img src="{{assets}}images/careerdays-black.svg"
						 data-active-src="{{assets}}images/careerdays-white.svg">
				</div>
				<div class="client-banner-words">123 000 words</div>
			</a>
		</div>
	</div>

	<h2 class="text-center">Some of my past projects</h2>

	<div class="row">
		<div class="col-md-6">
			<a href="#" class="client-banner" data-active-color="#00a8a6">
				<div class="client-banner-logo">
					<img src="{{assets}}images/hezkey-black.svg"
						 data-active-src="{{assets}}images/hezkey-white.svg">
				</div>
				<div class="client-banner-words">123 000 words</div>
			</a>
		</div>

		<div class="col-md-6">
			<a href="#" class="client-banner" data-active-color="#a12820">
				<div class="client-banner-logo">
					<img src="{{assets}}images/urc-black.svg"
						 data-active-src="{{assets}}images/urc-white.svg">
				</div>
				<div class="client-banner-words">123 000 words</div>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<a href="#" class="client-banner" data-active-color="#3382ad">
				<div class="client-banner-logo">
					<img src="{{assets}}images/kamikaze-black.svg"
						 data-active-src="{{assets}}images/kamikaze-white.svg">
				</div>
				<div class="client-banner-words">123 000 words</div>
			</a>
		</div>

		<div class="col-md-6">
			<a href="#" class="client-banner" data-active-color="#96c21f">
				<div class="client-banner-logo">
					<img src="{{assets}}images/logio-black.svg"
						 data-active-src="{{assets}}images/logio-white.svg">
				</div>
				<div class="client-banner-words">123 000 words</div>
			</a>
		</div>
	</div>

</div>

<div class="container">
	<h2>I write for those who want to be seen</h2>
	<p>
		This is my third online portfolio. It took me 3 years to get to this stage. During this time
		I almost finished I studies in college, went to England to study for real, cooked a lot of
		meals, met a ot of people, became freelance and worked for two agencies, wrote over 100 000
		words, worked on 25+ projects... Heck, I even went on a Eurotrip and visited 27 cities in 22
		days. By train. And much more.
	</p>
	<p>
		Long story short all had a big impact on my work. I cannot show you what I became. My life
		and my work as a copywriter teaches me everyday. It changes me. It developes my skills. What
		I can show you, are some pieces of the journey of how I got here
	</p>

	<div class="row">
		<div class="col-md-6">
			<h3>Advertising in the name of freedom</h3>
			<img src="{{assets}}images/blog-glasses.svg" class="img-responsive"
				 style="margin-bottom: 15px">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed justo sapien, blandit
				id nunc non, luctus rutrum lacus. Nulla rutrum euismod leo in ultrices. Aliquam
				felis ante, efficitur non sem ut, volutpat auctor quam. Praesent lorem ipsum,
				sodales et quam non, pulvinar faucibus ante. Suspendisse eget nisi ac quam congue
				volutpat at sed est. Nulla porttitor scelerisque velit ac bibendum. Aenean eu
				accumsan turpis. Curabitur sit amet mi eu lectus venenatis fringilla vitae sit amet
				leo. Praesent ut consequat arcu. Nullam nisl lorem, rhoncus vitae lacus quis,
				pellentesque mollis mauris.
			</p>
			<p>
				Vivamus non orci dignissim, sollicitudin libero sit
				amet, fermentum felis. Donec eu nulla eget neque consectetur tempus. Phasellus et
				urna pharetra, pulvinar nibh feugiat, cursus neque. Sed luctus, urna vitae mollis
				rutrum, risus ante scelerisque dolor, vitae bibendum purus erat ac purus.
			</p>
		</div>

		<div class="col-md-6">
			<h3>Are you being watched?</h3>
			<img src="{{assets}}images/blog-camera.svg" class="img-responsive"
				 style="margin-bottom: 15px">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed justo sapien, blandit
				id nunc non, luctus rutrum lacus. Nulla rutrum euismod leo in ultrices. Aliquam
				felis ante, efficitur non sem ut, volutpat auctor quam.
			</p>
			<p>
				Praesent lorem ipsum,
				sodales et quam non, pulvinar faucibus ante. Suspendisse eget nisi ac quam congue
				volutpat at sed est. Nulla porttitor scelerisque velit ac bibendum. Aenean eu
				accumsan turpis. Curabitur sit amet mi eu lectus venenatis fringilla vitae sit amet
				leo.
			</p>
			<p>
				Praesent ut consequat arcu. Nullam nisl lorem, rhoncus vitae lacus quis,
				pellentesque mollis mauris. Vivamus non orci dignissim, sollicitudin libero sit
				amet, fermentum felis. Donec eu nulla eget neque consectetur tempus. Phasellus et
				urna pharetra, pulvinar nibh feugiat, cursus neque.
				Sed luctus, urna vitae mollis
				rutrum, risus ante scelerisque dolor, vitae bibendum purus erat ac purus.
			</p>
		</div>
	</div>


</div>

<footer>

	<div class="jumbotron jumbotron-black footer">
		<div class="container">
			<h2>Any questions?</h2>

			<div class="row">
				<div class="col-md-6">
					<form class="contact-form">
						<div class="form-group">
							<input type="email" class="form-control" placeholder="Your email">
						</div>
						<div class="form-group">
							<textarea class="form-control" placeholder="Come on, tell me..." rows="8"></textarea>
						</div>
						<button type="submit" class="btn btn-default">send</button>
					</form>
				</div>
				<div class="col-md-6">
					<div class="footer-cellphone">+420 774 627 626</div>
					<ul class="list-inline text-center">
						<li><a href="#"> <img src="{{assets}}images/icon-pintrest.svg"> </a></li>
						<li><a href="#"> <img src="{{assets}}images/icon-instagram.svg"> </a></li>
						<li><a href="#"> <img src="{{assets}}images/icon-linkedin.svg"> </a></li>
						<li><a href="#"> <img src="{{assets}}images/icon-twitter.svg"> </a></li>
					</ul>
					<a href="mailto:matous@" class="footer-email">info@seewordpower.cz</a>

					<div class="footer-separator with-horizontal-separator"></div>

					<p class="text-center">

					</p>

				</div>
			</div>
		</div>
	</div>

	<div class="footer-copyright">
		All rights reserved. Copyright 2015
		<a href="http://www.seewordpower.cz">www.seewordpower.cz</a>
	</div>
</footer>