---
title: See Word Power 3
---

<div class="jumbotron jumbotron-matty greedy-jumbotron no-margin">
	<div class="container">
		<div class="row">
			<div class="col-md-6 greedy-jumbotron-column matty-image-column">
				<div class="matty-image">
					<div class="matty-image-blink-left"></div>
					<div class="matty-image-blink-right"></div>
					<div class="matty-image-holder">
						<div class="matty-image-face"></div>
					</div>
				</div>
			</div>
			<div class="col-md-6 greedy-jumbotron-column">
				<div class="matty-heading">
					<div class="with-separator">
						Your<br>
						Future<br>
						Copywriter
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="jumbotron jumbotron-black">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Don't look here for the final result</h2>
				<p>
					This is my third online portfolio. It took me 3 years to get to this stage.
					During this time I almost finished I studies in college, went to England to
					study for real, cooked a lot of meals, met a lot of people, became freelance and
					worked for two agencies, wrote over 100 000 words, worked on 25+ projects...
					Heck, I even went on a Eurotrip and visited 27 cities in 22 days. By train. And
					much more.
				</p>
				<p>
					Long story short all had a big impact on my work. I cannot show you what I
					became. My life and my work as a copywriter teaches me everyday. It changes me.
					It develops my skills. What I can show you, are some pieces of the journey of
					how I got here.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<h2 class="center">My clients rock. See for yourself</h2>

	<div class="row">
		<div class="col-md-6">
			<a href="#" class="client-banner" data-active-color="#de342e">
				<div class="client-banner-logo">
					<img src="{{assets}}images/dpd-black.svg" data-active-src="{{assets}}images/dpd-white.svg">
				</div>
				<div class="client-banner-words">123 000 words</div>
			</a>
		</div>

		<div class="col-md-6">
			<a href="#" class="client-banner" data-active-color="#2b2664">
				<div class="client-banner-logo">
					<img src="{{assets}}images/febio-black.svg"
						 data-active-src="{{assets}}images/febio-white.svg">
				</div>
				<div class="client-banner-words">123 000 words</div>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<a href="#" class="client-banner" data-active-color="#ea6233">
				<div class="client-banner-logo">
					<img src="{{assets}}images/deimos-black.svg"
						 data-active-src="{{assets}}images/deimos-white.svg">
				</div>
				<div class="client-banner-words">123 000 words</div>
			</a>
		</div>

		<div class="col-md-6">
			<a href="#" class="client-banner" data-active-color="#ff0000">
				<div class="client-banner-logo">
					<img src="{{assets}}images/careerdays-black.svg"
						 data-active-src="{{assets}}images/careerdays-white.svg">
				</div>
				<div class="client-banner-words">123 000 words</div>
			</a>
		</div>
	</div>

	<h2 class="text-center">Some of my past projects</h2>

	<div class="row">
		<div class="col-md-6">
			<a href="#" class="client-banner" data-active-color="#00a8a6">
				<div class="client-banner-logo">
					<img src="{{assets}}images/hezkey-black.svg"
						 data-active-src="{{assets}}images/hezkey-white.svg">
				</div>
				<div class="client-banner-words">123 000 words</div>
			</a>
		</div>

		<div class="col-md-6">
			<a href="#" class="client-banner" data-active-color="#a12820">
				<div class="client-banner-logo">
					<img src="{{assets}}images/urc-black.svg"
						 data-active-src="{{assets}}images/urc-white.svg">
				</div>
				<div class="client-banner-words">123 000 words</div>
			</a>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<a href="#" class="client-banner" data-active-color="#3382ad">
				<div class="client-banner-logo">
					<img src="{{assets}}images/kamikaze-black.svg"
						 data-active-src="{{assets}}images/kamikaze-white.svg">
				</div>
				<div class="client-banner-words">123 000 words</div>
			</a>
		</div>

		<div class="col-md-6">
			<a href="#" class="client-banner" data-active-color="#96c21f">
				<div class="client-banner-logo">
					<img src="{{assets}}images/logio-black.svg"
						 data-active-src="{{assets}}images/logio-white.svg">
				</div>
				<div class="client-banner-words">123 000 words</div>
			</a>
		</div>
	</div>

</div>

<div class="jumbotron jumbotron-black">
	<div class="container">
		<h2 class="text-center">Any questions?</h2>

		<br>

		<div class="row">
			<div class="col-md-6">
				<form class="contact-form">
					<div class="form-group">
						<input type="email" class="form-control" placeholder="Your email">
					</div>
					<div class="form-group">
						<textarea class="form-control" placeholder="Come on, tell me..." rows="8"></textarea>
					</div>
					<button type="submit" class="btn btn-default">send</button>
				</form>
			</div>
			<div class="col-md-6">
				<h3 class="text-center">+420 774 627 626</h3>
			</div>
		</div>
	</div>
</div>

<div class="text-center">
	All rights reserved. Copyright 2015 seewordpower.cz
</div>

<br><br>