---
title: See Word Power 3
---

<div class="jumbotron jumbotron-matty greedy-jumbotron no-margin">
	<div class="container">
		<div class="row">

			<!-- Matty heading -->
			<div class="col-md-6 greedy-jumbotron-column matty-heading-column">
				<div class="matty-heading">
					<div class="with-separator">
						Your Future Copywriter
					</div>
				</div>
			</div>

			<!-- Matty image -->
			<div class="col-md-6 greedy-jumbotron-column matty-image-column">
				<div class="matty-image">
					<div class="matty-image-blink-left"></div>
					<div class="matty-image-blink-right"></div>
					<div class="matty-image-holder">
						<div class="matty-image-face"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="jumbotron jumbotron-inverse">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2>Don't look here for the final result</h2>
				<p>
					This is my third online portfolio. It took me 3 years to get to this stage.
					During this time I almost finished I studies in college, went to England to
					study for real, cooked a lot of meals, met a lot of people, became freelance and
					worked for two agencies, wrote over 100 000 words, worked on 25+ projects...
					Heck, I even went on a Eurotrip and visited 27 cities in 22 days. By train. And
					much more.
				</p>
				<p>
					Long story short all had a big impact on my work. I cannot show you what I
					became. My life and my work as a copywriter teaches me everyday. It changes me.
					It develops my skills. What I can show you, are some pieces of the journey of
					how I got here.
				</p>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<h2>My clients rock. See for yourself</h2>

	<div class="row">
		{{#withHash color="#de342e" image="dpd"}}
			{{> client-banner}}
		{{/withHash}}

		{{#withHash color="#2b2664" image="febio"}}
			{{> client-banner}}
		{{/withHash}}
	</div>

	<div class="row">
		{{#withHash color="#ea6233" image="deimos"}}
			{{> client-banner}}
		{{/withHash}}

		{{#withHash color="#ff0000" image="careerdays"}}
			{{> client-banner}}
		{{/withHash}}
	</div>

	<h2>Some of my past projects</h2>

	<div class="row">
		{{#withHash color="#00a8a6" image="hezkey"}}
			{{> client-banner}}
		{{/withHash}}

		{{#withHash color="#a12820" image="urc"}}
			{{> client-banner}}
		{{/withHash}}
	</div>

	<div class="row">
		{{#withHash color="#3382ad" image="kamikaze"}}
			{{> client-banner}}
		{{/withHash}}

		{{#withHash color="#96c21f" image="logio"}}
			{{> client-banner}}
		{{/withHash}}
	</div>

</div>

<div class="container">
	<h2>I write for those who want to be seen</h2>
	<p>
		This is my third online portfolio. It took me 3 years to get to this stage. During this time
		I almost finished I studies in college, went to England to study for real, cooked a lot of
		meals, met a ot of people, became freelance and worked for two agencies, wrote over 100 000
		words, worked on 25+ projects... Heck, I even went on a Eurotrip and visited 27 cities in 22
		days. By train. And much more.
	</p>
	<p>
		Long story short all had a big impact on my work. I cannot show you what I became. My life
		and my work as a copywriter teaches me everyday. It changes me. It developes my skills. What
		I can show you, are some pieces of the journey of how I got here
	</p>

	<div class="row">
		<div class="col-md-6">
			<h3>Advertising in the name of freedom</h3>
			<img src="{{assets}}images/blog-glasses.svg" class="img-responsive"
				 style="margin-bottom: 15px">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed justo sapien, blandit
				id nunc non, luctus rutrum lacus. Nulla rutrum euismod leo in ultrices. Aliquam
				felis ante, efficitur non sem ut, volutpat auctor quam. Praesent lorem ipsum,
				sodales et quam non, pulvinar faucibus ante. Suspendisse eget nisi ac quam congue
				volutpat at sed est. Nulla porttitor scelerisque velit ac bibendum. Aenean eu
				accumsan turpis. Curabitur sit amet mi eu lectus venenatis fringilla vitae sit amet
				leo. Praesent ut consequat arcu. Nullam nisl lorem, rhoncus vitae lacus quis,
				pellentesque mollis mauris.
			</p>
			<p>
				Vivamus non orci dignissim, sollicitudin libero sit
				amet, fermentum felis. Donec eu nulla eget neque consectetur tempus. Phasellus et
				urna pharetra, pulvinar nibh feugiat, cursus neque. Sed luctus, urna vitae mollis
				rutrum, risus ante scelerisque dolor, vitae bibendum purus erat ac purus.
			</p>
		</div>

		<div class="col-md-6">
			<h3>Are you being watched?</h3>
			<img src="{{assets}}images/blog-camera.svg" class="img-responsive"
				 style="margin-bottom: 15px">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed justo sapien, blandit
				id nunc non, luctus rutrum lacus. Nulla rutrum euismod leo in ultrices. Aliquam
				felis ante, efficitur non sem ut, volutpat auctor quam.
			</p>
			<p>
				Praesent lorem ipsum,
				sodales et quam non, pulvinar faucibus ante. Suspendisse eget nisi ac quam congue
				volutpat at sed est. Nulla porttitor scelerisque velit ac bibendum. Aenean eu
				accumsan turpis. Curabitur sit amet mi eu lectus venenatis fringilla vitae sit amet
				leo.
			</p>
			<p>
				Praesent ut consequat arcu. Nullam nisl lorem, rhoncus vitae lacus quis,
				pellentesque mollis mauris. Vivamus non orci dignissim, sollicitudin libero sit
				amet, fermentum felis. Donec eu nulla eget neque consectetur tempus. Phasellus et
				urna pharetra, pulvinar nibh feugiat, cursus neque.
				Sed luctus, urna vitae mollis
				rutrum, risus ante scelerisque dolor, vitae bibendum purus erat ac purus.
			</p>
		</div>
	</div>

	<div class="container">
		<h2>Feel free to look inside my head</h2>
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-12 blog-tag-entry">
				<div class="image">
					<a href="#">
                        <img src="{{assets}}images/blog-tag-stories.svg" class="img-responsive">
                    </a>
				</div>
				<a class="button" href="/blog/thirst.html">Stories</a>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-12 blog-tag-entry">
				<div class="image">
					<img src="{{assets}}images/blog-tag-films.svg" class="img-responsive">
				</div>
				<a class="button" href="/blog/thirst.html">Films</a>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-12 blog-tag-entry">
				<div class="image">
					<img src="{{assets}}images/blog-tag-ideas.svg" class="img-responsive">
				</div>
				<a class="button" href="/blog/thirst.html">Ideas</a>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-12 blog-tag-entry">
				<div class="image">
					<img src="{{assets}}images/blog-tag-experiences.svg" class="img-responsive">
				</div>
				<a class="button" href="/blog/thirst.html">Experiences</a>
			</div>

		</div>
	</div>

	<div class="container">
		<h2>What makes me copywriter?</h2>
		<div class="about-entry about-entry-left row">
			<div class="about-entry-image col-md-6">
				<img src="{{assets}}images/about-pitch.svg" class="img-responsive">
			</div>
			<div class="about-entry-text col-md-6">
				<h3>After 25 projects in the past 4 years I'm ready for the next pitch</h3>
				I started writing part time in the summer 2012. In autumn I took part in project at
				Red Bull. In the winter 2013 I started working for the agency which facilitated that
				project. Under their wings I sold my first tag line, named a product, and rewrote
				the whole Czech Website of Allianz insurance company - at the age of 21. Then I left
				to England to study Media and Comm. When I came back I got an internship at S&F and
				in the evenings I’ve been writing copy for Febiofest. After half a year at the
				agency I went fully freelance by signing DPD and Twisto. At that time I've also
				helped to build the Hezkey brand from the ground. In 2015 I signed GE Aviation and
				started working for Avocode. So, what’s next?
			</div>
		</div>
		<div class="about-entry about-entry-right row">
			<div class="about-entry-image col-md-6">
				<img src="{{assets}}images/about-pitch.svg" class="img-responsive">
			</div>
			<div class="about-entry-text col-md-6">
				<h3>After 25 projects in the past 4 years I'm ready for the next pitch</h3>
				I started writing part time in the summer 2012. In autumn I took part in project at
				Red Bull. In the winter 2013 I started working for the agency which facilitated that
				project. Under their wings I sold my first tag line, named a product, and rewrote
				the whole Czech Website of Allianz insurance company - at the age of 21. Then I left
				to England to study Media and Comm. When I came back I got an internship at S&F and
				in the evenings I’ve been writing copy for Febiofest. After half a year at the
				agency I went fully freelance by signing DPD and Twisto. At that time I've also
				helped to build the Hezkey brand from the ground. In 2015 I signed GE Aviation and
				started working for Avocode. So, what’s next?
			</div>
		</div>
		<div class="about-entry about-entry-left row">
			<div class="about-entry-image col-md-6">
				<img src="{{assets}}images/about-pitch.svg" class="img-responsive">
			</div>
			<div class="about-entry-text col-md-6">
				<h3>After 25 projects in the past 4 years I'm ready for the next pitch</h3>
				I started writing part time in the summer 2012. In autumn I took part in project at
				Red Bull. In the winter 2013 I started working for the agency which facilitated that
				project. Under their wings I sold my first tag line, named a product, and rewrote
				the whole Czech Website of Allianz insurance company - at the age of 21. Then I left
				to England to study Media and Comm. When I came back I got an internship at S&F and
				in the evenings I’ve been writing copy for Febiofest. After half a year at the
				agency I went fully freelance by signing DPD and Twisto. At that time I've also
				helped to build the Hezkey brand from the ground. In 2015 I signed GE Aviation and
				started working for Avocode. So, what’s next?
			</div>
		</div>
	</div>


</div>
